[
    {
        "name": "documents",
        "columns": {
            "Id": {"type": "TEXT"},
            "Document ID": {"type": "TEXT"},
            "Document naam": {"type": "TEXT"},
            "Bestandsnaam": {"type": "TEXT"},
            "Beoordeling": {"type": "TEXT"},
            "Beoordelingsgrond": {"type": "TEXT"},
            "Toelichting": {"type": "TEXT"},
            "Publieke link": {"type": "TEXT"},
            "Locatie open.minvws.nl": {"type": "TEXT"},
            "Opgeschort": {"type": "TEXT"},
            "Definitief ID": {"type": "TEXT"},
            "Status": {"type": "TEXT"},
            "FromFile": {"type": "TEXT"},
            "DocumentPublicationDate": {"type": "TEXT"},
            "DocumentStatusCheckedDate": {"type": "TEXT"},
            "DocumentStatusCheckedResult": {"type": "TEXT"},
            "SourceFileType": {"type": "TEXT"},
            "Tags": {"type": "TEXT"},
            "Besluit": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "BesluitURL": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "DocumentDownloadLink": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Document ID", "FromFile"],
		"index_1": ["Locatie open.minvws.nl"],
		"index_2": ["FromFile"],
		"index_3": ["Document naam"],
		"index_4": ["CreatedDate"],
		"index_5": ["Bestandsnaam"],
		"index_0": ["Beoordeling"],
        "path_field": "[FromFile]",
        "tags_table": "documents_tags",
        "_tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": ["Title", "tag_key"]},
        "tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": "Title"},
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "join_with": "requests",
        "join_key": {"self": "[FromFile]", "other": "InventarisFile"},
        "unique_query": "Locatie open.minvws.nl",
        "count_unique_fields": ["Beoordeling"],
        "database_fields": {
            "url": "Locatie open.minvws.nl",
            "from_file": "FromFile",
            "document_id": "Document ID",
            "file_name": "Bestandsnaam",
            "publication_date": "DocumentPublicationDate",
            "createddate": "CreatedDate"
        }
    },
    {
        "name": "documents_staging_20250128",
        "columns": {
            "Id": {"type": "TEXT"},
            "Document ID": {"type": "TEXT"},
            "Document naam": {"type": "TEXT"},
            "Bestandsnaam": {"type": "TEXT"},
            "Beoordeling": {"type": "TEXT"},
            "Beoordelingsgrond": {"type": "TEXT"},
            "Toelichting": {"type": "TEXT"},
            "Publieke link": {"type": "TEXT"},
            "Locatie open.minvws.nl": {"type": "TEXT"},
            "Opgeschort": {"type": "TEXT"},
            "Definitief ID": {"type": "TEXT"},
            "Status": {"type": "TEXT"},
            "FromFile": {"type": "TEXT"},
            "DocumentPublicationDate": {"type": "TEXT"},
            "DocumentStatusCheckedDate": {"type": "TEXT"},
            "DocumentStatusCheckedResult": {"type": "TEXT"},
            "SourceFileType": {"type": "TEXT"},
            "Tags": {"type": "TEXT"},
            "Besluit": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "BesluitURL": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "DocumentDownloadLink": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Document ID", "FromFile"],
		"index_1": ["Locatie open.minvws.nl"],
		"index_2": ["FromFile"],
		"index_3": ["Document naam"],
		"index_4": ["CreatedDate"],
		"index_5": ["Bestandsnaam"],
		"index_0": ["Beoordeling"],
        "path_field": "[FromFile]",
        "tags_table": "documents_tags",
        "_tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": ["Title", "tag_key"]},
        "tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": "Title"},
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "join_with": "requests",
        "join_key": {"self": "[FromFile]", "other": "InventarisFile"},
        "unique_query": "Locatie open.minvws.nl",
        "count_unique_fields": ["Beoordeling"],
        "database_fields": {
            "url": "Locatie open.minvws.nl",
            "from_file": "FromFile",
            "document_id": "Document ID",
            "file_name": "Bestandsnaam",
            "publication_date": "DocumentPublicationDate",
            "createddate": "CreatedDate"
        }
    },	
    {
        "name": "documents_staging",
        "columns": {
            "Id": {"type": "TEXT"},
            "Document ID": {"type": "TEXT"},
            "Document naam": {"type": "TEXT"},
            "Bestandsnaam": {"type": "TEXT"},
            "Beoordeling": {"type": "TEXT"},
            "Beoordelingsgrond": {"type": "TEXT"},
            "Toelichting": {"type": "TEXT"},
            "Publieke link": {"type": "TEXT"},
            "Locatie open.minvws.nl": {"type": "TEXT"},
            "Opgeschort": {"type": "TEXT"},
            "Definitief ID": {"type": "TEXT"},
            "Status": {"type": "TEXT"},
            "FromFile": {"type": "TEXT"},
            "DocumentPublicationDate": {"type": "TEXT"},
            "DocumentStatusCheckedDate": {"type": "TEXT"},
            "DocumentStatusCheckedResult": {"type": "TEXT"},
            "SourceFileType": {"type": "TEXT"},
            "Tags": {"type": "TEXT"},
            "Besluit": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "BesluitURL": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "DocumentDownloadLink": {"type": "TEXT"},
			"Gerelateerd ID": {"type": "TEXT"},
			"Locatie gerelateerd ID": {"type": "TEXT"},
			"Locatie Document ID": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Document ID", "FromFile"],
		"index_1": ["Locatie open.minvws.nl"],
		"index_2": ["FromFile"],
		"index_3": ["Document naam"],
		"index_4": ["CreatedDate"],
		"index_5": ["Bestandsnaam"],
		"index_0": ["Beoordeling"],
        "path_field": "[FromFile]",
        "tags_table": "documents_tags",
        "_tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": ["Title", "tag_key"]},
        "tags_table_key": {"self": "[Locatie open.minvws.nl]", "other": "Title"},
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "join_with": "requests",
        "join_key": {"self": "[FromFile]", "other": "InventarisFile"},
        "unique_query": "Locatie open.minvws.nl",
        "count_unique_fields": ["Beoordeling"],
        "database_fields": {
            "url": "Locatie open.minvws.nl",
            "from_file": "FromFile",
            "document_id": "Document ID",
            "file_name": "Bestandsnaam",
            "publication_date": "DocumentPublicationDate",
            "createddate": "CreatedDate"
        }
    },
    {
        "name": "documents_tags",
        "columns": {
			"Id": {"type": "TEXT"},
            "Title": {"type": "TEXT"},
            "tag_key": {"type": "TEXT"},
            "tag_value": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "validSince": {"type": "TEXT"},
            "validUntil": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Title", "tag_key", "validSince"],
		"index_1": ["tag_key"],
		"index_2": ["validSince"],
		"index_3": ["CreatedDate"],
        "path_field": "[FromFile]",
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "_join_with": "documents",
        "_join_key": {"self": "[Title]", "other": "[Locatie open.minvws.nl]"},
        "_URLkeys": ["DocumentDownloadLink", "Aanvullende bijlagen_link_1", "Aanvullende bijlagen_link_2", "Aanvullende bijlagen_link_3", "Omvang openbaarmaking_link", "Omvang openbaarmaking_link_1"],
        "count_unique_tag_key": ["Beoordeling", "Periode"],
        "URLkeys": ["DocumentDownloadLink"]
    },    
	{
        "name": "documents_tags_staging",
        "columns": {
			"Id": {"type": "TEXT"},
            "Title": {"type": "TEXT"},
            "tag_key": {"type": "TEXT"},
            "tag_value": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "validSince": {"type": "TEXT"},
            "validUntil": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
        "URLkeys": ["DocumentDownloadLink"]
    }, 
    {
        "name": "requests",
        "columns": {
            "id": {"type": "TEXT"},
            "Title": {"type": "TEXT"},
            "DossierNumber": {"type": "TEXT"},
            "DecisionDate": {"type": "TEXT"},
            "PublicationDate": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "DossierURL": {"type": "TEXT"},
            "DecisionType": {"type": "TEXT"},
            "DisclosureType": {"type": "TEXT"},
            "DocumentCount": {"type": "TEXT"},
            "Tags": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Title"],
		"index_1": ["DossierURL"],
		"index_2": ["CreatedDate"],
		"index_3": ["ModifiedDate"],
		"index_4": ["Title"],
        "tags_table": "requests_tags",
        "tags_table_key": {"self": "[Title]", "other": ["Title", "tag_key"]},
        "path_field": "InventarisFile",
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "metric1": "",
        "join_with": "documents",
        "join_key": {"self": "InventarisFile", "other": "[FromFile]"},
        "database_fields": {
            "url": "DossierURL",
            "from_file": "Title",
            "document_id": "DossierNumber",
            "file_name": "Bestandsnaam",
            "publication_date": "PublicationDate",
            "createddate": "CreatedDate"
        }
    },
    {
        "name": "requests_tags",
        "columns": {
			"Id": {"type": "TEXT"},  
            "Title": {"type": "TEXT"},
            "tag_key": {"type": "TEXT"},
            "tag_value": {"type": "TEXT"},
            "ModifiedDate": {"type": "TEXT"},
            "DeletedDate": {"type": "TEXT"},
            "CreatedDate": {"type": "TEXT"},
            "validSince": {"type": "TEXT"},
            "validUntil": {"type": "TEXT"}
        },
        "primary_key": ["Id"],
		"index_0": ["Title", "tag_key", "validSince"],
		"index_1": ["tag_key"],
		"index_2": ["validSince"],
		"index_3": ["CreatedDate"],
        "__URLkeys": ["Aanvullende bijlagen_link_1", "Aanvullende bijlagen_link_2", "Aanvullende bijlagen_link_3", "Besluitbrief_link_1", "Omvang openbaarmaking_link_1"],
        "_URLkeys": ["Aanvullende bijlagen_link_1"],
        "___URLkeys": ["Omvang openbaarmaking_link_1"],
        "path_field": "Title",
        "path_normalization": "lambda x: x.replace('\\\\', '/')",
        "join_with": "requests",
        "join_key": {"self": "Title", "other": "[Title]"}
    },
    {
        "name": "updates",
        "columns": {
            "id": {"type": "INTEGER"},
            "retrieved": {"type": "TEXT"},
            "current": {"type": "INTEGER"},
            "title": {"type": "TEXT"},
            "href": {"type": "TEXT"},
            "decision_type": {"type": "TEXT"},
            "document_count": {"type": "TEXT"},
            "document_count_ori": {"type": "TEXT"},
            "disclosure_type": {"type": "TEXT"},
            "decision_date": {"type": "TEXT"},
            "publication_date": {"type": "TEXT"},
            "dossier_number": {"type": "TEXT"},
            "inventaris": {"type": "TEXT"},
            "archive_link": {"type": "TEXT"}
        },
        "primary_key": ["title"]
    }
]
